$bg-color: #0047b3;
$padding: 15px;
$borders: 15px;
$tablet: 769px;

$color: (
    primary: $bg-color,
    primary-light: lighten($bg-color, 20%),
    primary-dark: darken($bg-color, 20%),
    accent: invert($bg-color)
);

@function color($color-name){
    @return map-get($color, $color-name);
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

body{
    height: 100%;
    margin: 0px;
    div#bg{
        clip-path: polygon(100% 0%, 100% 80%, 45% 100%, 0% 100%, 0% 0%);
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        @include tablet{
          clip-path: polygon(50% 0%, 91% 0, 74% 100%, 50% 100%, 0 100%, 0 0);
        }
    }
    header a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: $padding;
    }
    main {
        @include tablet{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "primary card"
        }
        section#card{
            background: #fff;
            padding: 20px;
            margin: 1em auto;
            border-radius: $borders;
            box-shadow: 0 10px 30px rgba(0,0,0,.2);
            width: 80%;
            @include tablet{
                grid-area: card;
                height: fit-content;
                align-self: center;
                margin: 1em;
            }
            ul{
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                li {
                    margin-bottom: 10px;
                    span {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        background-color: color(primary-light);
                        border-radius: 35%;
                        margin-right: 10px;
                    }
                    strong{
                        display: inline-block;
                        margin-left: max(40px);
                        margin-top: 10px;
                    }
                }
            }
        }
        section#primary{
        color: #fff;
        padding: $padding;
        text-align: center;
        @include tablet{
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;
        }
        h1{
            font-size: 3em;
            margin-top: 10px;
            text-transform: uppercase;
            @include tablet {
                width: 30%;
                font-size: 4em;
                line-height: 0.9em;
            }
        }
        p {
            font-size: 1.4em;
        }
        a {
            color: color(primary-dark);
            border-radius: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: color(accent);
            display: block;
            text-align: center;
            margin: 50px auto 0 auto;
            padding: $padding;
            @include tablet{
                display: inline-block;
                padding: $padding $padding*4;
            }
        }
    }
    }
}