<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section id="root">
        <h1>{{title}}</h1>
        
        <vue-tech
            v-if='displayList'
            v-for='(vueTech) in vueEcosystem'
            v-bind:tech="vueTech.technology"></vue-tech>
            
        <button v-on:click='reverseString'>Reverse title</button>
        <button @click='showList'>{{buttonLabel}}</button>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script>
        Vue.component('vue-tech', {
            props: ['tech'],
            template: '<p>{{tech}}</p>'
        })

        let app = new Vue({
            el: '#root',
            data: {
                title: 'Vue Ecosystem',
                buttonLabel: 'show  list',
                displayList: false,
                vueEcosystem: [
                    { id: 1, technology: 'vue cli' },
                    { id: 2, technology: 'vue devtools' },
                    { id: 3, technology: 'vue router' },
                    { id: 4, technology: 'vuex (state manager)' },
                    { id: 5, technology: 'nuxt (server side render)' },
                ]
            },
            methods: {
                reverseString() {
                    this.title = this.title.split("").reverse().join("")
                },
                showList() {
                    this.displayList = !this.displayList
                    this.buttonLabel = (this.displayList) ? 'hide list' : 'show  list'
                }
            }
        })
    </script>
</body>

</html>